{% extends "dss_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}



{% block body_class %}Dss inquiry{% endblock %}



    {% block middle %}
    <div class="container">
      {% include "_status_message.html" %}
      {% include "_announcements.html" %}
      {% include "_messages.html" %}
      {% block body_outer %}
      <div class="row">
        <div class="col-md-8">
        {% block body %}
        <H1>DSS Pharos</H1>
	{% load django_bootstrap_breadcrumbs %}
	{% block breadcrumbs %}
	{% breadcrumb 'User Type Selection' level_1 %}
	{% breadcrumb 'Activity selection' level_2 %}
      	{% breadcrumb 'Background information' bg_info %}
	{% endblock %}	

        <h3>Background information for {{ activity.description }}</h3>
        <h4>User type: {{ usertype.user_type }}</h4>
        
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        
        {% csrf_token %}

        <div id="info">
        {{ activity.bg_information | safe }}
        </div>
        {% if activity.bg_image %}
        <div id="image">
        <img src="/uploaded/{{ activity.bg_image}}" width="720">
        </div>
        {% endif %}
        

        {% endblock %}
        </div>
        <div class="col-md-4">
        {% block sidebar %}
        <a id="proceed"  class="btn btn-primary btn-md btn-block" href="/dss_pharos/{{ usertype.id }}/{{ activity.id }}/form">
	<h4>Proceed</h4>
        </a>

	{% endblock %}
        </div>
      </div>
      {% endblock %}
    </div>
    {% endblock middle %}

