{% extends "dss_base.html" %}
{% load i18n %}
{% load staticfiles %}



{% block body_class %}Dss inquiry{% endblock %}



    {% block middle %}
    <div class="container">
      {% block body_outer %}
      <div class="row">
        <div class="col-md-8">
        {% block body %}
        <H1>DSS Pharos</H1>
	{% load django_bootstrap_breadcrumbs %}
	{% block breadcrumbs %}
	{% breadcrumb 'Economic Sector selection' sector_sel %}
   	{% breadcrumb 'Background information' bg_info %}
	{% endblock %}	

        <h3>Background information for {{ economic_sector.description }}</h3>

        
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        
        {% csrf_token %}

        <div id="info">
        {{ economic_sector.bg_information | safe }}
        </div>
        {% if economic_sector.bg_image %}
        <div id="image">
        <img src="/uploaded/{{ economic_sector.bg_image}}" width="720">
        </div>
        {% endif %}
        

        {% endblock %}
        </div>
        <div class="col-md-4">
        {% block sidebar %}
        <a id="next"  class="btn btn-primary btn-md btn-block" href="/{{ economic_sector.id }}/ii">
	<h4>Next</h4>
        </a>

	{% endblock %}
        </div>
      </div>
      {% endblock %}
    </div>
    {% endblock middle %}

