{% extends "dss_base.html" %}
{% load i18n %}
{% load staticfiles %}




{% block body_class %}Dss{% endblock %}



    {% block middle %}
    <div class="container">
      {% block body_outer %}
      <div class="row">
        <div class="col-md-8">
        {% block body %}
        <H1>DSS Pharos</H1>
	&nbsp;<br>
	<a href="./start">
	Start DSS Pharos
	</a>        
        {% endblock %}
        </div>
        <div class="col-md-4">
        {% block sidebar %}{% endblock %}
        </div>
      </div>
      {% endblock %}
    </div>
    {% endblock middle %}


