{% extends "dss_base.html" %}
{% load i18n %}
{% load staticfiles %}




{% block body_class %}Dss{% endblock %}



    {% block middle %}
    <div class="container">
      {% block body_outer %}
      <div class="row">
        <div class="col-md-8">
        {% block body %}
            <H1>DSS Pharos</H1>
        {% if home_description %}
                {{ home_description.textContent | safe }}
        {% endif %}

            {% endblock %}
        </div>
        <div class="col-md-4">
        {% block sidebar %}
             <a  class="btn btn-primary btn-md btn-block" href="./start">
                 <h4>Start DSS Pharos</h4>
             </a>
            {% endblock %}
        </div>
      </div>
      {% endblock %}
    </div>
    {% endblock middle %}


