{% extends "dss_base.html" %}
{% load i18n %}
{% load staticfiles %}



{% block body_class %}Dss{% endblock %}



    {% block middle %}
    <div class="container">
      {% block body_outer %}
      <div class="row">

        {% block body %}
        <H1>DSS Pharos</H1>
        <h3>{{ economic_sector.description }}</h3>
        
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        


        <script>
          var selectedUsertype;
          $(document).ready( function() {
                $("select.usertype").change(function(){
                console.log
                var selectedUsertype = $(this).children("option:selected").val();
                alert("You have selected the usertype  - " + selectedUserType);

                });
          } );

          function updateForm(){
            console.log('updateform');
            user = $("input:radio[name='usertype']:checked").val()
            $('form').attr('action', '/1/'+ user + '/result');
            disabled = (user == void(0));
            $(':input[type="submit"]').prop('disabled', disabled)

            }


        </script>
        <form id="dss_form" action="#" method="post" onreset="updateForm()">
        {% csrf_token %}
            <div id="selectdiv" class="col-md-4 funkyradio">
                <h6>Select user type</h6>
            {% for usertype in usertype_list %}
            <div class="funkyradio-primary">
            <input type="radio" name="usertype" id="radio_{{ usertype.pk }}" value="{{ usertype.pk }}" class="usertype" onchange="updateForm()">
                <label for="radio_{{ usertype.pk }}">{{ usertype.user_type }}</label>
            </div>
            {% endfor %}
            </div>
            <div id="impact_list" class="col-md-4">
                <h6>Select Impacts</h6>
            {% include "impact_list_form.html" %}
            </div>


        {% endblock %}

        <div class="col-md-4">
        {% block sidebar %}
            <a id="clearbutton" class="btn btn-primary btn-md btn-block" href="#" onclick="$('#dss_form')[0].reset(); updateForm();">
            Clear
                </a>
		    <input class="btn btn-primary btn-md btn-block" type="submit" value="Submit" disabled />
            {% endblock %}
        </div>
         </form>
      </div>
      {% endblock %}
    </div>
    {% endblock middle %}


