{% extends "dss_base.html" %}
{% load i18n %}
{% load staticfiles %}



{% block body_class %}Dss{% endblock %}



    {% block middle %}
    <div class="container">
      {% block body_outer %}
      <div class="row">
        <div class="col-md-8">
        {% block body %}
        <H1>DSS Pharos</H1>
        <h3>{{ economic_sector.description }}</h3>
        
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        


        <script>
          var selectedUsertype;
          $(document).ready( function() {
                $("select.usertype").change(function(){
                console.log
                var selectedUsertype = $(this).children("option:selected").val();
                alert("You have selected the usertype  - " + selectedUserType);

                });
          } );

          function updateForm(){
            user = $('select.usertype').children("option:selected").val();
            $('form').attr('action', '/1/'+ user + '/result');
            disabled = (user == '0')
            $(':input[type="submit"]').prop('disabled', disabled)

            }


        </script>
        <form action="#" method="post">
        {% csrf_token %}
        <div id="selectdiv">
            <select class="usertype" onchange="updateForm()">
                <option value="0" selected>---------</option>
        {% for usertype in usertype_list %}
            <option value="{{ usertype.pk }}">{{ usertype.user_type }}</option>
        {% endfor %}
           </select>
            <div id="impact_list">
            {% include "impact_list_form.html" %}
               </div>
        </div>
        <input type="reset" value="Clear" />
		<input type="submit" value="Submit" disabled />
        </form>
        {% endblock %}
        </div>
        <div class="col-md-4">
        {% block sidebar %}{% endblock %}
        </div>
      </div>
      {% endblock %}
    </div>
    {% endblock middle %}


