{% extends "dss_base.html" %}
{% load i18n %}
{% load staticfiles %}



{% block body_class %}Dss{% endblock %}



    {% block middle %}
    <div class="container">
      {% block body_outer %}
      <div class="row">
        <div class="col-md-8">
        {% block body %}

        
        <h2>Economic sector selection</h2>

        {% if economic_sector_list %}
        <ul>
        {% for economic_sector in economic_sector_list %}
        <li><a href="{{ usertype.id }}/{{ economic_sector.id }}">{{ economic_sector.description }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Economic Sector list empty.</p>
{% endif %}
        {% endblock %}
        </div>
        <div class="col-md-4">
        {% block sidebar %}{% endblock %}
        </div>
      </div>
      {% endblock %}
    </div>
    {% endblock middle %}


