{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}



{% block body_class %}Dss home{% endblock %}



    {% block middle %}
    <div class="container">
      {% include "_status_message.html" %}
      {% include "_announcements.html" %}
      {% include "_messages.html" %}
      {% block body_outer %}
      <div class="row">
        <div class="col-md-8">
        {% block body %}
        <H1>DSS Pharos</H1>
        
        <h2>Intervent selections for {{ usertype.user_type }}</h2>
        {% if activity_list %}
        <ul>
        {% for activity in activity_list %}
        <li><a href="{{ usertype.id }}/{{ activity.id }}">{{ activity.description }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Activity list empty.</p>
{% endif %}
        {% endblock %}
        </div>
        <div class="col-md-4">
        {% block sidebar %}{% endblock %}
        </div>
      </div>
      {% endblock %}
    </div>
    {% endblock middle %}


